
.Group4704_Group4704 {
	width: 251px;
	height: 205px;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	box-sizing: border-box;
	background: rgba(255,255,255,1.00);
	border-radius: 12px;
	border: 1px solid rgba(237.0000010728836,240.00000089406967,247.00000047683716,1);
	box-sizing: border-box;
}